// ======== Theme Blue
// ------- site-nav
// ----------------
$site-nav-bg:                       $md-white;
$site-nav-toggle-color:             $md-blue-a700;
$site-nav-head-color:               $md-grey-900;
$site-nav-head-border-color:        $md-blue-50;
$site-nav-list-color:               lighten($md-grey-900, 8%);
$site-nav-list-hover-color:         $md-blue-a700;

// ------ view-header
// ------------------
$view-header-bg:                    $site-nav-toggle-color;


/// MORE COMING SOON 


/// ####### END #######
